#recipeList{
    display: block;
    width: 40%;
    margin: auto;
    margin-top: 5%;
}

.smallLabel{
    max-width: 5% !important;
}
.normalLabel{
  max-width: 15% !important;
}
.largeLabel{
    max-width: 30% !important;
}
ion-fab-button{
    display: inline-block;
}
#addButton{
    display: inline;
    float: right;
    margin-top: 4%;
}
.cardTitle{
    margin: 4%;
}
.buttonsContainer{
    margin-left: 5%;
    max-width: 40% !important;    
}