#mainPage{
    overflow-x: scroll;
    width: 100%;
}
#recipeList{
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    
}
#cardContent{
    padding-left:0 ;
    height: 100%;
}
#contentDiv{
    margin-top: 5%;
}
.smallLabel{
    max-width: 5% !important;
}
.normalLabel{
  max-width: 15% !important;
}
.largeLabel{
    max-width: 30% !important;
}
ion-fab-button{
    display: inline-block;
}
#addButton{
    display: inline;
    float: right;
}
.cardTitle{
    margin: 4%;
}
.buttonsContainer{
    margin-left: 5%;
    max-width: 40% !important;    
}
#buttonsDiv{
    margin-top: 0;
    display: flex;
    justify-content: space-around;
}
#filterCheck{  
   display: inline-block;
}
#filterNote{
    display: inline;
    margin-left: 3%;
    margin-top: 5%;
}
#filterDiv{
    display: inline-block;
    width: 95%;
    padding: 0%;
    margin: 2%;
    margin-top: 0%;
    
}
#errorText2{
    border: springgreen 2px solid;
    color: red;
}