
#cardContent{
    position: relative;
    width: 80%;
}
.comboItem{
   display: inline-block;
   width: 50%;
 }
ion-select {
  width: 90%;
}
ion-input.textRight{
  text-align: right !important;
}
.cardTitle{
  margin: 4%;
}
#buttonItem{
  display: flex;
  justify-content: space-around;
}
#editRecipe{
  display: block;
  width:80%;
  margin: auto;
  margin-top: 1%;
}
#addIngredientButton{
  float: right;
  margin-right: 6%;
}