#recipeList{
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 5%;
}

.smallLabel{
    max-width: 5% !important;
}
.normalLabel{
  max-width: 15% !important;
}
.largeLabel{
    max-width: 25% !important;
}
ion-fab-button{
    margin-right: 4%;
}
#addButton{
    display: inline;
    float: right;
    margin-top: 4%;
}
.cardTitle{
    margin: 4%;
}
