#recipeList{
    display: inline-block;
    width: 80%;
    height: auto;
}
#editRecipe{
    display: inline-block;
    width: 40%;
    height: auto;
}
#recipeList:hover{
    cursor: pointer;
}
.likeButton{
    display: flex;
    justify-content: center;
} 